.container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.leftContent{
    
    width: 90%;
    height: 100vh;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 10px 30px 30px;
   justify-content: center;
   align-items: center;
    
   
}


.rightContent{
    width: 100%;
    height: 100vh;
    background-color: pink;
    color: white;
    
   
    
}
.items{
    padding: 40px;
}
.itemheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Total{
    border: solid;
    border-width: 3px;
   border-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    color: white;
}

.header{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.cartitem{
    border: solid;
   border-width: 2px;
   border-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
    padding: 0px 10px;
}

.itemheading{
    display: grid;
   grid-template-columns: 50% 50%;
}